.front {
    position: absolute;
    pointer-events: none;
    width: 330px;
    top: 200px;
    left: 1050px;
    z-index: 100;
    user-select: none;
    caret-color: transparent;

}

.back {
    position: absolute;
    pointer-events: none;
    width: 330px;
    top: 200px;
    left: 1050px;
    user-select: none;
    z-index: -99;
    caret-color: transparent;

}

.layer {
    position: absolute;
    background: white;
    left: 1050px;
    top: 450px;
    z-index: 99;
    height: 325px;
    width: 300px;
    user-select: none;
    pointer-events: none;
    caret-color: transparent;
}

#draggable {
    display: flex;
    flex-wrap: wrap;
}

#icon {
    width: 160px;
    height: 160px;
    margin: 10px;
}

.logo {
    padding-left: 1em;
    padding-top: 1em;
}

#poppy {
    position: absolute;
    top: 80px;
    left: 170px;
    z-index: 9;
    cursor: move;
  }



#anemone {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 9;
    cursor: move;
}

#aspen {
    position: absolute;
    top: 80px;
    left: 170px;
    z-index: 9;
    cursor: move;
}

#baby {
    position: absolute;
    top: 80px;
    left: 340px;
    z-index: 9;
    cursor: move;
}

#birch {
    position: absolute;
    top: 80px;
    left: 510px;
    z-index: 9;
    cursor: move;
}

#daisy {
    position: absolute;
    top: 260px;
    left: 0px;
    z-index: 9;
    cursor: move;
}

#delphinium {
    position: absolute;
    top: 260px;
    left: 170px;
    z-index: 9;
    cursor: move;
}

#lilly {
    position: absolute;
    top: 260px;
    left: 340px;
    z-index: 9;
    cursor: move;
}

#merigold {
    position: absolute;
    top: 260px;
    left: 510px;
    z-index: 9;
    cursor: move;
}

#palma {
    position: absolute;
    top: 440px;
    left: 0px;
    z-index: 9;
    cursor: move;
}

#poppy {
    position: absolute;
    top: 440px;
    left: 170px;
    z-index: 9;
    cursor: move;
}

#sunflower {
    position: absolute;
    top: 440px;
    left: 340px;
    z-index: 9;
    cursor: move;
}

#tulip {
    position: absolute;
    top: 440px;
    left: 510px;
    z-index: 9;
    cursor: move;
}

#violet {
    position: absolute;
    top: 620px;
    left: 0px;
    z-index: 9;
    cursor: move;
}