body {
    caret-color: transparent;
    user-select: none;
    font-family: 'Shadows';
    
}
#window {
    position: absolute;
    z-index: -4;
}

#bg {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'Shadows';
    src: url('../assets//Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
}

.header {
    padding-top: 30px;
    padding-left: 30px;
}

#container {
    display: flex;
}

#edit {
    float: right;
    padding-right: 82%;
}

#export {
    padding-top: 250px;
    width: 800px;
}

#formBox {
    height: 1000px;
    float: right;
}

#short {
    width: 570px;
    height: 65px;
}

#short2 {
    width: 570px;
    height: 65px;
    
}

#long {
    width: 570px;
    height: 230px;
}

h2 {
    font-size: 48px;
    font-weight: lighter;

}

h1 {
    font-size: 48px;
    font-weight: lighter;

}

#confirm {
    float: right;
    cursor: pointer;
    position: absolute;
    left: 1822px;
    top: 944px;
    padding-right: 60px;
    padding-top: 82px;
}
  
  #confirm:hover {
    filter: brightness(0.8);
  
  }
  
  #confirm:active {
    filter: brightness(0.5)
  }
  #formBox {
    height: 1000px;
    float: right;
    position: absolute;
    left: 1155px;
}

textarea {
    font-size: 20px;
    font-family: 'Shadows';
    resize: none;
}

.short {
    width: 570px;
    height: 65px;
    font-size: 20px;
    font-family: 'Shadows';
}
  
  #edit:hover {
    filter: brightness(0.8);
  
  }
  
  #edit:active {
    filter: brightness(0.5)
  }