.absolute {
  position: absolute;
  top: 80px;
}

.content-box {
  columns: 3 auto;
}

#canvas {
  width: 400px;
  left: 500px;
  top: 150px;
}

#rose {
  top: 125px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#tulip {
  top: 200px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#daisy {
  top: 275px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#lily {
  top: 425px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#poppy {
  top: 350px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#roseM {
  top: 125px;
  position: absolute;
  z-index: 9;
  text-align: center;
}

#tulipM {
  top: 200px;
  position: absolute;
  z-index: 9;
  text-align: center;
}

#daisyM {
  top: 275px;
  position: absolute;
  z-index: 9;
  text-align: center;
}

#lilyM {
  top: 425px;
  position: absolute;
  z-index: 9;
  text-align: center;
}

#poppyM {
  top: 350px;
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#icon {
  width: 50px;
  height: 50px;
}

.layer {
  position: absolute;
  background: inherit;
  /* clip: rect(520px, 160px, 250px, 150px); */
  z-index: 10;
  height: 250px;
  width: 150px;
  left: 520px;
  top: 160px;
}