.absolute {
  position: absolute;
  top: 80px;
}

.content-box {
  columns: 3 auto;
}

.columns {
  position: relative;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 6 / 4; }

#canvas {
  width: 400px;
  left: 500px;
  top: 150px;
}

.front {
  position: absolute;
  pointer-events: none;
  width: 300px;
  top: 250px;
  left: 650px;
  z-index: 100;
  user-select: none;
  caret-color: transparent;

}

.back {
  position: absolute;
  pointer-events: none;
  top: 250px;
  width: 300px;
  left: 650px;
  user-select: none;
  z-index: -99;
  caret-color: transparent;

}

.layer {
  position: absolute;
  background: white;
  left: 650px;
  top: 450px;
  z-index: 99;
  height: 325px;
  width: 300px;
  user-select: none;
  pointer-events: none;
  caret-color: transparent;
}

#rose {
  top: 125px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#tulip {
  top: 200px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#daisy {
  top: 275px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#lily {
  top: 425px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#poppy {
  top: 350px;
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

#icon {
  width: 50px;
  height: 50px;
}