body,
html {
    overflow: hidden;
    background-color: #FFFDFA;
}

.columns {
    padding-top: 5em;
}

/* .header {
    font-size: 68px;
    font-family: 'Shadows Into Light', cursive;
    padding-left: 150px;
    padding-top: 20px;
} */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo {
    margin-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

hr {
    border-top: 1px solid black;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons a {
    margin: 0 10px;
}

#vase {
    height: 90%;
    transition: transform .2s ease-in;
}

#vase:hover {
    transform: scale(1.1);
}

#vase:active {
    opacity: .8;
}

#paper {
    height: 90%;
    transition: transform .2s ease-in;
}

#paper:hover {
    transform: scale(1.1);
}

#paper:active {
    opacity: .8;
}

#mason {
    height: 90%;
    transition: transform .2s ease-in;
}

#mason:hover {
    transform: scale(1.1);
}

#mason:active {
    opacity: .8;
}